{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.lwjgl/lwjgl {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl$natives-macos {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl-opengl {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl-opengl$natives-macos {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl-glfw$natives-macos {:mvn/version "3.3.2"}}

 :aliases{
          :macos {:jvm-opts ["-XstartOnFirstThread"]}

 }
 }
